<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  .wrapper{
    background-image: linear-gradient(rgba(25, 56, 230, 0.5),rgba(125, 156, 130, 0.5));
  }
  .loginbox{
    width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-top: 10%;
    border: 1px solid black;
  }
  button{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
</style>
<title>index</title>
</head>
<body class="wrapper">
  <p style="margin-left: 45%; font-size: 2em;">LIBRARY Management</p>
  <p>status = {% if session.get('loggedin'): %}LOGGED IN{% else: %}NOT LOGGED IN {% endif %}
  <div class="loginbox">
<a href="/login">  <button type="button">login</button></a>
<a href="/frb"> <button type="button">Fetch/Return/Borrow</button></a>
<a href="/logout"> <button type="button">Logout </button></a>
<a href="/adbok"> <button type="button"> Add Book</button></a>
<a href="/adauth"> <button type="button"> Add Author </button></a>
<a href="/adpub"> <button type="button"> Add Publisher </button></a>
<a href="/aduser"> <button type="button"> Add User</button></a>
<a href="/userbook"> <button type="button">SHOW USER/BOOK</button></a>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</script>
</body>
</html>
